<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Simple Search Form</title>
    </head>
    <body>
        <h2>Simple Search Form</h2>
        <form action='/search' method='GET'>
            <label for='search'>Search:</label>
            <input type='text' id='search' name='q' placeholder='Enter keywords...' />
            <button type='submit'>Search</button>
        </form>
    </body>
</html>